<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/scripts.js"></script>
    <title> CS 157C Group 9 Project </title>
    <style>
        #viz {
            width: 900px;
            height: 700px;
            border: 1px solid lightgray;
            font: 22pt;
            display: inline-block;
            background-color: white;
        }
    </style>
    <script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
		// define config car
		// instantiate nodevis object
		// draw

		var viz;

		function draw() {
			var config = {
				container_id: "viz",
				server_url: "bolt://localhost:7687",
				server_user: "neo4j",
				server_password: "1234",
				labels: {
					//"Character": "name",
					"Page": {
						"caption": "Page",
						"size": "pagerank",
						"community": "community"
						//"sizeCypher": "MATCH (n) WHERE id(n) = {id} MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
					}
				},
				relationships: {
					"TRANSITION_TO": {
						"thickness": "weight",
						"caption": false
					}
				},
				initial_cypher: "MATCH (n)-[r:TRANSITION_TO]->(m) RETURN n,r,m"
			};

			viz = new NeoVis.default(config);
			viz.render();
			console.log(viz);

		}
    </script>
</head>
<body onload="draw()">
<h1 class="title">Web Usage Miner</h1>
<div class="sidenav">
    <a href = "/"><span class="smalldot">Home</span></a>
</div>

<div class="content">
    <div class="tab">
        <span class="choice active">View Graph</span>
    </div>

    <div class = "bordered">
        <div class="tabcontent" style="display:block;align:center;">
            <h3>Your Data</h3>
            <div id="viz"></div>
            <br/><br/>
            Cypher query: <textarea rows="4" cols=50 id="cypher"></textarea><br/>
            <input type="submit" value="Submit" id="reload">
            <input type="submit" value="Stabilize" id="stabilize">
            <br/><br/><br/>
        </div>
    </div>

</div>
</body>
<script>
	$("#reload").click(function() {

		var cypher = $("#cypher").val();

		if (cypher.length > 3) {
			viz.renderWithCypher(cypher);
		} else {
			console.log("reload");
			viz.reload();

		}

	});

	$("#stabilize").click(function() {
		viz.stabilize();
	})

</script>
</html>