<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/scripts.js"></script>
    <title> CS 157C Group 9 Project </title>
</head>
<body>
<h1 class="title">Web Usage Miner</h1>
<div class="sidenav">
    <a href = "/"><span class="smalldot">Home</span></a>
</div>

<div class="content">
    <div class="tab">
        <span class="choice active" onclick="infofunc(event, 'node')">Webpage</span>
        <span class="choice" onclick="infofunc(event, 'edge')">Transition</span>
    </div>

    <div class = "bordered">
        <div id="node" class="tabcontent" style="display:block;">

            <a href = "Neoviz">See Graph</a>




            <h3>Search for Webpage</h3>
            <p>Enter the title and/or URL for the webpage you would like to search for.</p>
            <br/>
            <form action = "#" th:action="@{/search}" method = "post" th:object="${url}">
                <input type="text" th:field="*{title}" placeholder = "Enter Title">
                <input type="url" th:field="*{url}" placeholder = "Enter URL">
                <input type="hidden" th:value="1" name="mode" />
                <br/>
                <input type="submit" id="submitnode" name="submit" value="Search">
                <br/><br/><br/><br/><br/>
            </form>
        </div>
        <div id="edge" class="tabcontent">
            <h3>Search for Transition</h3>
            <p>Enter information in any of the fields to search for transitions.</p>
            <br/>
            <form action = "#" th:action="@{/mine}" method = "post" th:object="${url}">
                <input type="hidden" th:value="2" name="mode" />
                <label> User ID </label>
                <br/>
                <input type="number" th:field="*{userid}" placeholder="Enter User ID">
                <br/>
                <label> Session ID </label>
                <br/>
                <input type="text" th:field="*{sessionid}" placeholder="Enter Session ID">
                <br/><br/>
                <label> Enter Information for Starting Webpage </label>
                <br/>
                <input type="url" th:field="*{urlFrom}" placeholder="Enter Starting URL">
                <br/>
                <input type="date" th:field="*{dateFrom}" placeholder="Enter Date of Access">
                <br/>
                <input type="time" th:field="*{timeFrom}" placeholder="Enter Time of Access">
                <br/><br/>
                <label> Enter Information for Ending Webpage </label>
                <br/>
                <input type="url" th:field="*{urlTo}" placeholder="Enter Ending URL">
                <br/>
                <input type="date" th:field="*{dateTo}" placeholder="Enter Date of Access">
                <br/>
                <input type="time" th:field="*{timeTo}" placeholder="Enter Time of Access">
                <br/>
                <input type="submit" id="submitedge" name="submit" value="Delete">
            </form>
            <br/><br/><br/>
        </div>
    </div>


    <div class="findings">
        <p> Results </p>
        <div class="card">
            <h3>Webpage</h3>
            <p> This is static right now but represents how dynamic search results might look.
                sjsu.instructure.com/courses/blahblah</p>
        </div>
        <br/>
        <div class="card">
            <h3>Transition</h3>
            <p>From sjsu.instructure.com/courses/blahblah <br/> To sjsu.instructure.com/courses/chocolate</p>
        </div>
    </div>

</div>
</body>
</html>